client = yes

output = /var/log/stunnel/stunnel.log
pid = /var/run/stunnel/stunnel.pid

socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1

debug = ${STUNNEL_DEBUG}
foreground = yes

[${STUNNEL_SERVICE_NAME}]
${STUNNEL_SERVICE_CONF}
